In [1]:
import pandas as pd

In [2]:
# read the title_basics_2018.csv file and load it into Pandas DataFrame
df_title_basics_2018 = pd.read_csv('./title_basics_2018.csv')

# display the dataframe structure, data and test the title_basics_2018.csv file was loaded correctly
print(df_title_basics_2018.head().to_string())

      tconst                primaryTitle               originalTitle  year  runtimeMinutes       genres
0  tt0069049  The Other Side of the Wind  The Other Side of the Wind  2018             122        Drama
1  tt0111414                 A Thin Life                 A Thin Life  2018              75       Comedy
2  tt0170651        T.G.M. - osvoboditel        T.G.M. - osvoboditel  2018              60  Documentary
3  tt0192528               Heaven & Hell              Reverse Heaven  2018             104        Drama
4  tt0253093                Gangavataran                Gangavataran  2018             134           \N

In [3]:
# read the title_ratings.csv file and load it into Pandas DataFrame
df_title_ratings = pd.read_csv('./title_ratings.csv')

# display the dataframe structure, data and test the title_ratings.csv file was loaded correctly
print(df_title_ratings.head().to_string())

      tconst  averageRating  numVotes
0  tt0000001            5.6      1543
1  tt0000002            6.1       186
2  tt0000003            6.5      1201
3  tt0000004            6.2       114
4  tt0000005            6.1      1921

In [4]:
# merge the df_title_basics_2018 and df_title_ratings on the 'tconst' column, which works as primary key:
merged_df_title = pd.merge(df_title_basics_2018, df_title_ratings, on='tconst')

# display the dataframe structure and test the merger of df_title_basics_2018 and df_title_ratings were correct
print(merged_df_title.head().to_string())

      tconst                primaryTitle                originalTitle  year  runtimeMinutes       genres  averageRating  numVotes
0  tt0069049  The Other Side of the Wind   The Other Side of the Wind  2018             122        Drama            6.9      4937
1  tt0170651        T.G.M. - osvoboditel         T.G.M. - osvoboditel  2018              60  Documentary            7.5         6
2  tt0192528               Heaven & Hell               Reverse Heaven  2018             104        Drama            3.9        74
3  tt0253093                Gangavataran                 Gangavataran  2018             134           \N            6.6         8
4  tt0262759    Seven Jews from My Class  Siedmiu ZydÃ³w z mojej klasy  2018              40  Documentary            7.0         6

In [5]:
# filter the films by year of 2018 only
films_year_2018 = merged_df_title[merged_df_title['year'] == 2018]

# check the overall statistics of filtered data
print(films_year_2018.describe()) # mean of year is 2018

         year  runtimeMinutes  averageRating       numVotes
count  7229.0     7229.000000    7229.000000    7229.000000
mean   2018.0       96.271130       6.246217    2588.912989
std       0.0       27.400867       1.494149   19831.779889
min    2018.0        7.000000       1.000000       5.000000
25%    2018.0       83.000000       5.400000      18.000000
50%    2018.0       93.000000       6.400000      69.000000
75%    2018.0      106.000000       7.300000     346.000000
max    2018.0      840.000000      10.000000  719146.000000

In [6]:
# first we filter out the films that contain the largest number of votes, which 25% of the most voted or top 25% most voted films
best_films_2018 = films_year_2018[films_year_2018['numVotes'] >= films_year_2018['numVotes'].nlargest(int(films_year_2018['tconst'].count() * 0.25)).min()]

# display the filtered data
print(best_films_2018.head().to_string())

       tconst                primaryTitle               originalTitle  year  runtimeMinutes                 genres  averageRating  numVotes
0   tt0069049  The Other Side of the Wind  The Other Side of the Wind  2018             122                  Drama            6.9      4937
9   tt0360556              Fahrenheit 451              Fahrenheit 451  2018             100  Drama,Sci-Fi,Thriller            4.9     15202
10  tt0365545          Nappily Ever After          Nappily Ever After  2018              98   Comedy,Drama,Romance            6.4      6687
15  tt0859635            Super Troopers 2            Super Troopers 2  2018              99   Comedy,Crime,Mystery            6.1     21337
17  tt0972544                  Back Roads                  Back Roads  2018             101   Crime,Drama,Thriller            7.0      3482

In [7]:
# second we filter of the films that contain the highes rating score, which 25% of most rated or top 25% most rated films
best_film_2018 = best_films_2018[best_films_2018['averageRating'] >= best_films_2018['averageRating'].nlargest(int(best_films_2018['tconst'].count() * 0.25)).min()]

# display the filtered data
print(best_film_2018.head().to_string())

        tconst                                       primaryTitle                                      originalTitle  year  runtimeMinutes                   genres  averageRating  numVotes
17   tt0972544                                         Back Roads                                         Back Roads  2018             101     Crime,Drama,Thriller            7.0      3482
98   tt1213641                                          First Man                                          First Man  2018             141  Biography,Drama,History            7.3    137147
99   tt1226837                                      Beautiful Boy                                      Beautiful Boy  2018             120          Biography,Drama            7.3     36270
102  tt1259528                                     Den of Thieves                                     Den of Thieves  2018             140       Action,Crime,Drama            7.0     74360
106  tt1289403  The Guernsey Literary and Potato Peel Pie Society  The Guernsey Literary and Potato Peel Pie Society  2018             124    Drama,History,Romance            7.4     25163

In [8]:
# and finally we filter by the most voted films
best_film_2018 = best_film_2018[best_film_2018['numVotes'] >= best_film_2018['numVotes'].max()]

# display the filtered data
print(best_film_2018.to_string()) # Avengers: Infinity War

        tconst            primaryTitle           originalTitle  year  runtimeMinutes                   genres  averageRating  numVotes
556  tt4154756  Avengers: Infinity War  Avengers: Infinity War  2018             149  Action,Adventure,Sci-Fi            8.5    719146